body {
  margin: 0;
  padding: 0;

  font-family: Arial;

  background: #1f2937;

  color: white;
}

.container {
  text-align: center;

  margin-top: 150px;
}

h1 {
  color: #4caf50;
}

p {
  font-size: 20px;
}
